# No whitespace after the comma or in your part name!
config ADV360PRO_LEFT
    def_bool $(shields_list_contains,adv360pro_left)

# No whitespace after the comma or in your part name!
config ADV360PRO_RIGHT
    def_bool $(shields_list_contains,adv360pro_right)
